In [1]:
import pandas as pd
import numpy as np



column_names = ["par_id", "art_id", "keyword", "country", "text", "orig_label"]  # Adjust as needed

df_pcl = pd.read_csv('Dont_Patronize_Me_Trainingset/dontpatronizeme_pcl.tsv', 
                     sep='\t', 
                     skiprows=4,  # Skipping disclaimer
                     names=column_names)

df_pcl['label'] = np.where(df_pcl['orig_label'].isin([0, 1]), 0, 1)
df_pcl["par_id"] = df_pcl["par_id"].astype(str)

In [2]:
df_pcl.head()

,par_id,art_id,keyword,country,text,orig_label,label
0,1,@@24942188,hopeless,ph,"We 're living in times of absolute insanity , ...",0,0
1,2,@@21968160,migrant,gh,"In Libya today , there are countless number of...",0,0
2,3,@@16584954,immigrant,ie,White House press secretary Sean Spicer said t...,0,0
3,4,@@7811231,disabled,nz,Council customers only signs would be displaye...,0,0
4,5,@@1494111,refugee,ca,""" Just like we received migrants fleeing El Sa...",0,0

In [3]:
df_pcl.value_counts('label', normalize=True)  # Check if the binary label is correct

label
0    0.905149
1    0.094851
Name: proportion, dtype: float64

In [4]:
# prepare logger
import logging
import torch


logging.basicConfig(level=logging.INFO)

transformers_logger = logging.getLogger("transformers")
transformers_logger.setLevel(logging.WARNING)

# check gpu
cuda_available = torch.cuda.is_available()

print('Cuda available? ',cuda_available)

Cuda available?  True

In [5]:
import pandas as pd
trids = pd.read_csv('Dont_Patronize_Me_Trainingset/train_semeval_parids-labels.csv')
teids = pd.read_csv('Dont_Patronize_Me_Trainingset/dev_semeval_parids-labels.csv')

trids.par_id = trids.par_id.astype(str)
teids.par_id = teids.par_id.astype(str)

In [6]:
rows = [] # will contain par_id, label and text



for idx in range(len(trids)):  
  parid = trids.par_id[idx]
  #print(parid)
  # select row from original dataset to retrieve `text` and binary labe
  keyword = df_pcl.loc[df_pcl.par_id == parid].keyword.values[0]
  text = df_pcl.loc[df_pcl.par_id == parid].text.values[0]
  label = df_pcl.loc[df_pcl.par_id == parid].label.values[0]
  rows.append({
      'par_id':parid,
      'community':keyword,
      'text':text,
      'label':label
  })

  trdf1 = pd.DataFrame(rows)

In [7]:
rows = [] # will contain par_id, label and text
for idx in range(len(teids)):  
  parid = teids.par_id[idx]
  #print(parid)
  # select row from original dataset
  keyword = df_pcl.loc[df_pcl.par_id == parid].keyword.values[0]
  text = df_pcl.loc[df_pcl.par_id == parid].text.values[0]
  label = df_pcl.loc[df_pcl.par_id == parid].label.values[0]
  rows.append({
      'par_id':parid,
      'community':keyword,
      'text':text,
      'label':label
  })
  # tedf1 = pd.DataFrame(rows)

In [8]:
import random
random.shuffle(rows)
tedf1 = pd.DataFrame(rows)

In [9]:
tedf1

,par_id,community,text,label
0,10154,disabled,"According to a report by ANN7 , other journali...",0
1,9570,refugee,"Berlin - Arson attacks on refugee shelters , a...",0
2,8859,poor-families,"The "" Elimu Ni Sasa "" programme has caused sen...",0
3,9468,disabled,"I 'm not the troll , Billy . I keep my comment...",0
4,9142,immigrant,Mashiyi found at the time that Omotoso was a f...,0
...,...,...,...,...
2089,9294,hopeless,"SL is forever stuck in hopelessness , till thi...",0
2090,10096,disabled,Another key focus is to provide healthcare for...,0
2091,8785,hopeless,"She cited pre-hypertension , hypertension , di...",0
2092,10201,immigrant,The report also highlighted the difficulty for...,0
2093,10393,women,I do n't think looks have anything to do with ...,0

In [10]:
pcldf = trdf1[trdf1.label==1]
npos = len(pcldf)

training_set1 = pd.concat([pcldf,trdf1[trdf1.label==0][:npos*2]])
training_set1.head()

,par_id,community,text,label
0,4341,poor-families,"The scheme saw an estimated 150,000 children f...",1
1,4136,homeless,Durban 's homeless communities reconciliation ...,1
2,10352,poor-families,The next immediate problem that cropped up was...,1
3,8279,vulnerable,Far more important than the implications for t...,1
4,1164,poor-families,To strengthen child-sensitive social protectio...,1

In [ ]:
!pip install huggingface_hub

In [ ]:
from huggingface_hub import login, HfFolder

# Get token from environment variable or prompt user to login
# manual_token = "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"
manual_token = None
if manual_token is None:
    token = HfFolder.get_token()
    if token is None:
        print("Please login to Hugging Face to get a token")
        login(add_to_git_credential=True)
else:
    token = manual_token
    login(token=token, add_to_git_credential=True)

In [ ]:

from simpletransformers.classification import ClassificationModel, ClassificationArgs, MultiLabelClassificationModel, MultiLabelClassificationArgs

import os
os.environ["HF_TOKEN"] = "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"


task1_model_args = ClassificationArgs(num_train_epochs=1, 
                                      no_save=True, 
                                      no_cache=True, 
                                      overwrite_output_dir=True)
task1_model = ClassificationModel("roberta", 
                                  'roberta-base', 
                                  args = task1_model_args, 
                                  num_labels=2, 
                                  use_cuda=cuda_available'
                                  use_auth_token="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")
# train model
task1_moodel.train_model(training_set1[['text', 'label']])
# run predictions
preds_task1, _ = task1_model.predict(tedf1.text.tolist())